# Environment Variables
.env
**/.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/

# Node
node_modules/
dist/
.DS_Store

# Else
Latex/
OpenResourceRepo
.claude
spec-kit